.navigationBtn {
  display: flex;
  align-self: flex-start;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 40px 15px;
  min-height: 800px;
  background-color: darkred;
}

.navLinkList {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navLink {
  font-weight: bold;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.navLink:global(.active) {
  color: darkred;
  background-color: white;
}
