.form {
  display: flex;
  justify-content: center;
  gap: 10px;

  margin-bottom: 10px;
}

.input {
  height: 40px;
  width: 350px;
  padding-left: 40px;

  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}

.searchBtn {
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .input {
    width: 250px;
  }
}
