.menu {
    position:  relative;
    z-index: 999;

    display: flex;
    justify-content: center;
    gap: 20px;

    padding: 15px 0px;

    background-color: #000;
}

.menuItem {
    display: flex;
    justify-content: center;
    align-items:  center;
}

.link {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.link:global.active {
    color: orange;
}