.menu {
    list-style: none;
    display: flex;
    justify-content: center;

    gap: 10px;
}

.link {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 2px;
    text-decoration: none;
    color: black;
}

.link:global.active {
    color: white;
    background-color: black;
}